@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: "Roboto Condensed" sans-serif;
}



/************** NAVBAR ************/
.logo {
  width: 4.313rem; 
  height: 4.5rem;
}
.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
}

/************** MENU LINKS ************/
nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.038rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  color: #0B409C !important;
  border-top: 0.1875rem solid ##F2F7FF;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid #0B409C;
}  

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid #0B409C;
}